body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("r_bg.jpg");
}
.r-box{
  width: 300px;
  padding: 20px;
  border-radius:25px;
  height:500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.r-box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.r-box input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #F22003;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}
.r-box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #F22003;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.r-box input[type = "text"]:focus{
  width: 250px;
  border-color: #2ecc71;
}
.r-box input[type = "password"]:focus{
  width: 250px;
  border-color: #2ecc71;
}

.r-box input[type="submit"]{
  width:150px;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5AFF00;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  position:relative;
  top:0px;
  transition: 0.25s;
  cursor: pointer;
}
.r-box input[type = "submit"]:hover{
  background: #5AFF00;
}
.r-box h2{
  color: white;
  text-transform: uppercase;
  font-size : 20px;
}