<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Microserver" content="Ultra Lightweight Server" />
    <meta name="description" content="Welcome" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <title>Reset Password</title>
    <link href="{{url_for('static',filename='style_forgot.css')}}"  rel="stylesheet">
</head>
<body>
<form class="mail-box" action="/send_code" method="post">
    <input type="text" name="f_mail" placeholder="Email" id="mail">
    <input type="submit" value="Send code">
    <h1>{{info}}</h1>


</form>
 <div class ="info-box"> Note: Please the enter the registered  mail id to which the verification code will be sent.</div>
</body>
</html>