<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Microserver" content="Ultra Lightweight Server" />
    <meta name="description" content="Welcome" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <title>Login Page</title>
</head>
<body bgcolor="orange">

<form action="/submit" method="post">
  <h2></h2>Username:<br>
  <input type="text" name='user'>
    <br>
  Password:<br>
  <input  name='pass' ><br><br>
<input type="submit" value="login">
</form>
<h1 >{{info}}</h1>

</body>
</html>