<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="#" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Microserver" content="Ultra Lightweight Server" />
    <meta name="description" content="Welcome" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <title>َAnimated Login Form</title>
    <link  href = "../static_file/style.css"  rel="stylesheet">
  </head>
  <body>

<form class="box" action="index.html" method="post">
  <h1>Login</h1>
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="submit" name="" value="Login">
</form>


  </body>
</html>
