<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Microserver" content="Ultra Lightweight Server" />
    <meta name="description" content="Welcome" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <link  href = "{{url_for('static',filename='style_reset.css')}}"  rel="stylesheet">
    <title>New Password</title>
</head>
<body>
<form class="reset-box" action="/update_db" method="post">
    <input type="password" name="new_pass" placeholder="New Password" id="newp" >
    <input type="password" name="conf_pass" placeholder="Confirm Password" id="conp">
    <input type="submit" value="Change">
    <input type="checkbox" onclick="myFunction()">Show Password
    <h1>{{info}}</h1>
<script>
 function myFunction() {
  var y = document.getElementById("conp");
  var x = document.getElementById("newp");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
  if (y.type === "password") {
    y.type = "text";
  } else {
    y.type = "password";
  }
}
</script>


</form>

</body>
</html>